.app.dark {
  --bg-color: #27272d;
  --inverted-bg-color: #f4f4f4;

  --primary-color: #d1a83c;
  --secondary-color: #d6c9a6;

  --inverted-primary-color: #27272d;
  --inverted-secondary-color: #505050;
}
